*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(177, 212, 255);
}

#hamburger
{
    /* background-color: rgb(148, 205, 252); */
}

/* #hamburger:hover #line-one,
#hamburger:hover #line-two,
#hamburger:hover #line-three
{
    transform-origin: 50% 50%;
    animation: line-grow ease-out 500ms;
}

#hamburger:hover #line-two
{
    animation-delay: 150ms;
}

#hamburger:hover #line-three
{
    animation-delay: 300ms;
} */

/* @keyframes line-grow {
    0% { transform: scaleX(1) }
    50% { transform: scaleX(1.25) }
    100% { transform: scaleX(1) }
} */






