*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
} */


/* .svgCircle
{
    border: 2px solid chocolate;
    width: 150px;
    height: 50px;
} */

/* circle
{
    r: 50px;
    cx: 100px;
    cy: 50px;
} */

.svgLogos
{
    border: 2px solid chocolate;
    width: 130px;
    height: 100px;
}

#github path
{
    fill: red;
}





