*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccf;
}

.hamburger
{
    width: 600px;
}

.toppings
{
    margin-top: 1em;
    font-size: 2.5rem;
}

.buttons
{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 2rem auto;
}

button
{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: teal;
    color: white;
}

.sesame path, .sesame ellipse
{
    fill: brown;
    /* opacity: 0.75; */
}

.removed
{
    display: none;
}





